<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VM Console</title>
    <link rel="stylesheet" href="../static/css/b.css">
</head>
<body>
<!--

  Making list-group-items from Bootstrap behave like checkboxes or radio buttons with pure CSS. This means that they:
  - Can be selected and unselected with a single click
  - Require no JavaScript whatsoever

  The only caveat is that, HTML-wise, semantically speaking, neither the list-group is a list, nor the list-group-items are actually list items.

-->
<div class="container">

<div class="list-group">

  <input type="checkbox" name="CheckBoxInputName" value="Value1" id="CheckBox1" />
  <label class="list-group-item" for="CheckBox1">Caption for CheckBox1</label>

  <input type="checkbox" name="CheckBoxInputName" value="Value2" id="CheckBox2" />
  <label class="list-group-item" for="CheckBox2">Caption for CheckBox2</label>

  <input type="checkbox" name="CheckBoxInputName" value="Value3" id="CheckBox3" />
  <label class="list-group-item" for="CheckBox3">Caption for CheckBox3</label>

  <input type="checkbox" name="CheckBoxInputName" value="Value4" id="CheckBox4" />
  <label class="list-group-item" for="CheckBox4">Caption for CheckBox4</label>

</div>

<br />

<div class="list-group">

  <input type="radio" name="RadioInputName" value="Value1" id="Radio1" />
  <label class="list-group-item" for="Radio1">Caption for Radio1</label>

  <input type="radio" name="RadioInputName" value="Value2" id="Radio2" />
  <label class="list-group-item" for="Radio2">Caption for Radio2</label>

  <input type="radio" name="RadioInputName" value="Value3" id="Radio3" />
  <label class="list-group-item" for="Radio3">Caption for Radio3</label>

</div>

</div>
</body>
</html>